extends ../_bootstrap
append styles
	// Custom styles for this template
	link(href='/css/dashboard/signin.css', rel='stylesheet')
block body
	.container
		form.form-signin(action='/admin/login', method='POST')
			h2.form-signin-heading Please sign in
			label.sr-only(for='inputEmail') Email address
			input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
			input(type='hidden', name='_csrf', value=_csrf)
			label.sr-only(for='inputPassword') Password
			input.form-control(type='password', name='password', id='password', placeholder='Password', required)
			button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
			//a.btn.btn-link(href='/forgot') Forgot your password?
