footer
			.top-footer
				.container
					.row
						.col-sm-12.col-md-4
							.border-box
								h3.font-xm CONTACT INFO
								h5
									span.address-title
										| Address:
										br
									|                             Grantley Adams House
									br
									|                             111 Roebuck Street
									br
									|                             Bridgetown
									br
									|                             Barbados
								h5
									| Phone: 1 246 429 1990
									br
									|                         	Email: enquiry@blp.org.bb
						.col-sm-12.col-md-2
							.border-box.p-link
								h3.font-xm Page Links
								ul
									li
										a(href='#') HOME
									li
										a(href='#') About Us
									li
										a(href='#') Solutions
									li
										a(href='#') FREE TRIAL
									li
										a(href='#') PRICING
									li
										a(href='#') LOGIN
						.col-sm-12.col-md-4
							.border-box.l-news
								h3.font-xm Latest News
								ul
									li
										a(href='#') Blog news 1
									li
										a(href='#') Blog news 2
									li
										a(href='#') Blog news 3
									li
										a(href='#') Blog news 4
						.col-sm-12.col-md-2
							.social-icon
								h3.font-xm Social Media
								ul
									li
										span
											img(src='/images/twiter.png')
										span
											a(href='#') Twitter
									li
										span
											img(src='/images/facebook.png')
										span
											a(href='#') Facebook
									li
										span
											img(src='/images/youtube.png')
										span
											a(href='#')  Youtube
									li
										span
											img(src='/images/linkedin.png')
										span
											a(href='#')  Linkedin
									li
										span
											img(src='/images/instagram.png')
										span
											a(href='#')   Instagram
			.bottom-footer
				.container
					.row
						.col-sm-12.col-md-6
							p.left Copyright © 2017  YantraTV. All Rights Reserved
						.col-sm-12.col-md-6
							p.right Powered by Yantra Digital.