
extends layout

block content
	section.slider
		.flexslider
				ul.slides
					li
						img(src='/images/kitchen_adventurer_caramel.jpg')
						.slider-content.text-center
							.container
								h2.font-md Maximise Target Audience Engagement
								h5.font-sm Demystifying the delivery of video to every destination and device
								.banner-btn
									a.common-b.banner-btn-left(href='#') GET STARTED
									a.common-b.banner-btn-right(href='#') FREE TRIAL
					li
						img(src='images/kitchen_adventurer_caramel.jpg')
						.slider-content.text-center
							.container
								h2.font-md Maximise Target Audience Engagement
								h5.font-sm Demystifying the delivery of video to every destination and device
								.banner-btn
									a.common-b.banner-btn-left(href='#') GET STARTED
									a.common-b.banner-btn-right(href='#') FREE TRIAL
					li
						img(src='images/kitchen_adventurer_caramel.jpg')
						.slider-content.text-center
							.container
								h2.font-md Maximise Target Audience Engagement
								h5.font-sm Demystifying the delivery of video to every destination and device
								.banner-btn
									a.common-b.banner-btn-left(href='#') GET STARTED
									a.common-b.banner-btn-right(href='#') FREE TRIAL
					li
						img(src='images/kitchen_adventurer_caramel.jpg')
						.slider-content.text-center
							.container
								h2.font-md Maximise Target Audience Engagement
								h5.font-sm Demystifying the delivery of video to every destination and device
								.banner-btn
									a.common-b.banner-btn-left(href='#') GET STARTED
									a.common-b.banner-btn-right(href='#') FREE TRIAL
		section.target
			.container
				.row
					.col-sm-12.col-md-12
						h2.font-md Grow your target audience.
						h5.font-sm WEB | MOBILE | OTT
						img.terget-img(src='images/target.png')
		section.people
			.container
				.row
					.col-sm-12.col-md-6
						h2.font-md WHO ARE YOU PEOPLE?
						p.font-xm
							| Over the past 12 years we have developed expertise in web and
							| mobile applications for multiple business environments.
							| With a proven development model which allows for an agile
							| approach based on real test scenarios we develop applications which integrate easily and can be scaled up or enhanced as
							| required.
						br
						p.font-xm
							| Our phased development approach allows your business to
							| best apply latest digital technology to meet your business
							| needs.
					.col-sm-12.col-md-6
						.client
							ul.slides
								li
									img.client-img(src='images/client.jpg')
								li
									img.client-img(src='images/client.jpg')
								li
									img.client-img(src='images/client.jpg')
						h4.client-name Gurps Nijjar
						p.font-xm.client-post CEO
						p.font-xs
							| Over the past 12 years he has worked extensively in the web,
							| mobile and digital industries managing teams of developers ...
		section.networks
			.container
				.row
					.col-sm-12.col-md-12
						h2.font-md LAUNCHED NETWORKS
		section.project1
			.container
				.row
					.col-sm-12.col-md-6
						img.project-img(src='images/project1-img.png')
					.col-sm-12.col-md-6
						h2 Project 1
						p
							| CRTV: Liberty's Voice has developed a new style in producing
							| compelling content that is delivered directly to viewers - when
							| and where they want it. Personalities include Mark Levin, Mark
							| Steyn, Michelle Malkin, and Stephen Crowder.
		section.project2
			.container
				.row
					.col-sm-12.col-md-6
						h2 Project 1
						p
							| CRTV: Liberty's Voice has developed a new style in producing
							| compelling content that is delivered directly to viewers - when
							| and where they want it. Personalities include Mark Levin, Mark
							| Steyn, Michelle Malkin, and Stephen Crowder.
					.col-sm-12.col-md-6
						.text-right
							img.project-img(src='images/project1-img.png')
